/*#region common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed black;
}

:root{
    --resp-main: #0084fdFF;
    --resp-mainsecon: #b5ddffFF;
    --resp-second: #9792e4FF;
    --resp-lighter: #ffffffFF;
    --resp-light: #fdc15fFF;
    --resp-dark: #111111FF;
    --resp-footer: #333333FF;
}

/*#endregion common */



/*#region debug */
.debug .col-12{
    height: 20rem;
}

.debug .col-6{
    height: 20rem;
}

.debug .card{
    height: 15rem;
}
/*
.debug .container{
    height: 25rem;
}*/

.debug .site-demo{
    height: 110rem;
}

.debug .site-benefits{
    height: 70rem;
}

/*#endregion debug */

/*#region utility */

.btn{
    border-radius: 0.5rem;
    color: var(--resp-lighter);
    background-color: var(--resp-main);
    padding: 0.25rem 1rem ;
}

.col-12{
    width: 100%;
}

.col-8{
    width: calc((100%/12)*8);
}

.col-6{
    width: 50%;
}

.row{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container{
    margin: 20px;
}

.card{
    border-radius: 0.5rem;
    background-color: var(--resp-mainsecon);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
    gap: 1.5rem;
}

.card-cnt{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-row{
    display: flex;
    background-color: var(--resp-second);
    border-radius: 0.5rem;
}

/*#endregion utility */

/*#region header */



.site-header{
    background-color: var(--resp-main);
}


.site-header li{
    display: inline-block;
}

ul{
    list-style: none;
}

.site-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*#endregion header */


/*#region main */



.site-planning{
    background-color: var(--resp-second);
}
.site-planning .card{
    background-color: var(--resp-lighter);
}

.site-planning .btn{
    background-color: var(--resp-second);
    border-radius: 50%;
    aspect-ratio: 1;
}

.img-tsm{
    width: calc((100%/12)*4);
    aspect-ratio: 1;
    border-radius: 50%;
}

.text-8{
    width: calc((100%/12)*8);
}


.site-benefits{
    background-color: var(--resp-second);
}

.site-benefits .row{
    flex-direction: row;
    flex-wrap: wrap;
}

/*#endregion main */


@media screen and (max-width: 768px) {
    ul {
        display: none;
    }
    .col-12{
        width: 100%;
    }
    
}